.hamburger_menu{
    position: absolute;
    height: 2px;
    width: 18px;
    background-color: black;
    &::after{
    content: "";
    height: 2px;
    width: 18px;
    background-color: black;
    top: 6px;
    display: block;
    position: absolute;
    }
     &::before{
    content: "";
    height: 2px;
    width: 18px;
    background-color: black;
    bottom: 6px;
    display: block;
    position: absolute;
    }
}